*{
margin: 0;
}

header {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}


.quadrado {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border: 1px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    box-sizing: border-box;
   
}

#container {
    align-items: center;
    background-color: rgb(245, 21, 189);
    height: 600px;
    justify-content: center;
    align-items: center ;
    flex-direction: column;

}
img{
    height: 400px;
    width: 500px;
    
}
h2{
    color: black;
}