body{
    /*Faz com que o elemento tenha uma imagem como fonte*/
    background-image: url(https://i.pinimg.com/736x/99/78/37/99783765e86e91fccf099631edc3e8c5.jpg);

    background-size: cover;
}

#red{
    color: red;
}
#gren{
    color: rgb(9, 255, 0);
}
#blue{
    color: rgb(38, 0, 255);
}

h2{

    color: (91, 25, 255);
}
p{
    color: #cc0ea9;
}